@font-face {
    font-family: "Anonymous Pro";
    src: url("fonts/AnonymousPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("fonts/AnonymousPro-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("fonts/AnonymousPro-boldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url("fonts/AnonymousPro-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/centurygothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("fonts/centurygothic_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Anonymous Pro", monospace;
    font-weight: 300;
    color: white;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
}

html {
    background: #000000;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* MARK: Scrollbar */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--corp-blue-a) black;
}

/* MARK: Variables */

:root {
    --corp-blue: #0087ff;
    --corp-blue-a: #0088ff4b;

    --content-width: 1300px;
}

/* MARK: Modifiers */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
    height: 100%;
}

/* MARK: Screen */

.screen {
    height: 100vh;
}

.screen,
.screen-free {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgba(255, 255, 255, 0.05);
}

.screen-free {
    width: 100vw;
    background: rgba(255, 255, 255, 0.05);
}

.screen-background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.screen-content {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 0px;
    width: var(--content-width);
    /* background: rgba(0, 0, 0, 0.2); */
}

.screen-hr {
    margin: 20px 0;
    width: 60%;
    border-color: rgba(255, 255, 255, 0.2);
}

.screen-title {
    width: 100%;
    font-size: 40px;
    margin: 40px 0 80px 0;
}

/* MARK: Menu */

header {
    position: fixed;
    top: 26px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.menu {
    background: rgba(255, 255, 255, 0.2);
    width: var(--content-width);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 110px;
    padding: 40px;
    gap: 40px;
    border-radius: 8px;
    /* margin: 26px 300px; */
    backdrop-filter: blur(10px);
    /* background: rgba(0, 0, 0, 0.2); */
}

.menu-logo {
    position: absolute;
    left: 40px;
    /* top: 50%; */
    /* bottom: 50%; */
    top: 50%;
    transform: translateY(-50%);
}

.menu-logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.menu-logo:active {
    opacity: 0.6;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    padding: 0 0;
    cursor: pointer;
}
.menu-button.active {
    color: black;
    background: white;
}

.menu-button:hover {
    color: var(--corp-blue);
}

.menu-button:active {
    color: var(--corp-blue);
    opacity: 0.8;
}

.menu-init {
    font-size: 24px;
    height: 50px;
    color: black;
    background: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    min-width: 200px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-init.active {
    background: none;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    pointer-events: none;
}

.menu-init:hover {
    color: var(--corp-blue);
}

.menu-init:active {
    background: rgba(255, 255, 255, 0.95);
}

.button {
    font-size: 24px;
    height: 50px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    min-width: 200px;
    cursor: pointer;
}
.button.active {
    background: white;
    color: black;
    border: none;
    border-bottom: 3px solid black;
    pointer-events: none;
}

.button:hover {
    background: var(--corp-blue);
    color: white;
}

.button:active {
    background: rgba(255, 255, 255, 0.95);
    color: black;
}

/* MARK: Specific elements */

.slogan-container {
    font-size: 40px;
    color: white;
    text-underline-offset: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.operations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

.opers-button {
    display: grid;
    grid-template-columns: 360px auto 20%;
    justify-items: center;
    align-items: center;
    height: 360px;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    user-select: none;
}

.opers-button:hover {
    background: var(--corp-blue);
    cursor: pointer;
}

.opers-button:active {
    background: white;
    color: black;
    cursor: pointer;
}

.opers-button:active > * {
    color: var(--corp-blue);
}

.opers-button + .opers-button {
    margin-top: -1px;
}

.opers-button-text {
    font-size: 18px;
    color: white;
    max-width: 230px;
}

.opers-button-heading {
    font-size: 80px;
    text-align: left;
    width: 100%;
}

.opers-button-image > img {
    height: 166px;
    width: 325px;
}

.panel-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

.panel-img,
.panel-content {
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel-content > div {
    width: 300px;
}

.panel-content > div > button {
    width: 100%;
}

/* MARK: Footer */
footer {
    padding: 16px 0;
}

footer > .screen-content > span {
    width: 100%;
    text-align: left;
    padding: 8px 0;
}

/* MARK: Account Specific */

.account-screen-free {
    margin-top: 120px;
    background: none;
    width: unset;
}

.account-screen-content {
    background: none;
    margin-top: 100px;
}

.dashboard-grid-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 100%;
    align-items: center;
}

.dashboard-grid-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
}

.card-outer {
    background: none;
    padding: 10px;
}

.card-wide {
    aspect-ratio: 2/1;
}

.card-square {
    aspect-ratio: 1/1;
}

.card-inner-flex {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-inner-profile {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.card-inner-payment {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.heading-large {
    margin: 0;
    font-size: 48px;
}

.heading-small {
    margin: 0;
}

.description {
    margin: 0;
    width: 60%;
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0;
}

.description-full {
    width: 100%;
}

.placeholder-card-inner {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.button-wide {
    width: 300px;
}

.button-full-width {
    width: 100%;
}

.button-full {
    width: 100%;
    height: 100%;
}

.account-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
.account-grid-row {
    display: grid;
    grid-template-columns: 20% 45% 35%;
    width: 100%;
    gap: 20px;
    margin: 10px 0;
    user-select: none;
}
.account-grid-row:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.account-grid-row:active {
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.account-grid-row:active > .account-grid-cell {
    color: black;
}
.account-grid-cell {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    font-size: 24px;
}

/* MARK: Auth Specific */

.auth-screen-free {
    margin-top: 150px;
    background: none;
}

.auth-header-grid {
    display: grid;
    grid-template-columns: 50% 1fr;
    height: 200px;
    justify-items: center;
    align-items: center;
    margin: 0 50px;
    width: 1200px;
}

.auth-title {
    font-size: 64px;
}

.auth-description {
    font-size: 24px;
    padding: 0 85px;
}

.auth-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 50px;
    width: 1200px;
}

.auth-input-section {
    display: block;
}

.auth-input-title {
    text-align: center;
}

.password-inputs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-bottom: 8px;
}

.auth-submit-btn {
    width: 100%;
    height: 36px;
}

.auth-init-section {
    background: rgba(255, 255, 255, 0.05);
    width: 440px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-init-title {
    text-align: center;
}

.auth-init-btn {
    height: 36px;
}

.password-input {
    color: black;
    width: 120px;
}
.password-input:nth-child(9n + 7),
.password-input:nth-child(9n + 8),
.password-input:nth-child(9n + 9) {
    margin-bottom: 6px;
}

/* MARK: Service Specific */
.service-screen-free {
    margin-top: 150px;
    background: none;
}

.service-screen-free hr {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.service-header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 110px;
    width: 100%;
    margin-bottom: 40px;
}
.service-header-grid > .screen-title {
    font-family: "Century Gothic";
    font-size: 96px;
}
.service-description {
    font-size: 24px;
    margin: 0;
}

.service-panel {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    margin: 0 0;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
}

.service-panel-img {
    padding: 80px 100px 80px 120px;
}
.service-panel-img,
.service-panel-content {
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.service-panel-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-panel-content {
    padding: 40px;
    padding-right: 80px;
    text-align: left;
}
.service-panel-content > .heading-large {
    font-size: 32px;
}
.service-panel-content > .description-full {
    font-size: 20px;
}
/* 
.service-panel-content > h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
} */

.service-panel-content > p {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
}

/* MARK: Expertise Specific */
.expertise-screen-free {
    margin-top: 150px;
    background: none;
}
.expertise-screen-free hr {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.expertise-header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 110px;
    width: 100%;
    margin-bottom: 40px;
}
.expertise-header-grid > .screen-title {
    font-family: "Century Gothic";
    font-size: 96px;
}

.expertise-panel {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    background: none;
    border: none;
    width: 100%;
    margin: 40px 0;
    height: 400px;
    background: none;
}

.expertise-panel-img {
    overflow: hidden;
    /* padding: 80px 100px 80px 120px; */
}
.expertise-panel-img,
.expertise-panel-content {
    background: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.expertise-panel-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expertise-panel-content {
    padding: 40px;
    padding-right: 80px;
    text-align: left;
}
.expertise-panel-content > .heading-large {
    font-size: 32px;
}
.expertise-panel-content > .description-full {
    font-size: 20px;
}

.expertise-panel-content > p {
    margin: 0;
    font-size: 20px;
    line-height: 1.4;
}

/* MARK: Initiation Specific */
.initiation-screen-free {
    margin-top: 200px;
    background: none;
}

.initiation-content {
    display: grid;
    grid-template-columns: 60% 40%;
}

.initiation-chat {
}

.initiation-chat-inner {
    width: 100%;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.chat-transcript {
    background: none;
    padding: 20px;
}

.chat-transcript p {
    font-family: "Anonymous Pro", monospace;
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 4px 0;
    opacity: 0.7;
}

.chat-input-container {
    /* padding: 10px 20px; */
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-input {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0 12px;
    font-family: "Anonymous Pro", monospace;
    font-size: 18px;
    color: white;
    outline: none;
}

.chat-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
}

.initiation-security {
    /* margin: 40px 0; */
    padding: 0 40px;
    background: none;
    text-align: left;
}

.initiation-security > .description-full {
    font-size: 20px;
    /* line-height: 1.6; */
}
